{% extends "index.twig" %}

{% block content %}
  <div class="large-6 columns">
    <!-- {{ overview|raw }} -->
    <h2>Potential Problems: <span class="highlight">{{ results.total }}</span></h2>
    <table>
    <tr><td></td><td>Actual</td><td>Goal</td></tr>
    {% for key,item in results.individual %}
      <tr>
        <td class="bold">
          <a href="?id={{ item.id }}">{{ key }}</a>:
        </td>
        <td>
          {% if item.result == 'fail' %}
          <span class="highlight"><a href="?id={{ item.id }}">{{ item.raw_score }}</a></span>
          {% else %}
          {{ item.raw_score }}
          {% endif %}
          {% if item.type == 'per_sentence' %}
          ({{ item.score }}%)
          {% endif %}
        </td>
        <td>
         {{ item.goal }}{% if item.type == 'per_sentence' %}%{% else %}
          errors
          {% endif %}
        </td>
    </tr>
    {% endfor %}
  </table>
  <a class="button" href="index.php?id=passive">Fix Problems</a>
  <a class="button" href="index.php?id=start">Start Over</a><br />
</div>
{% endblock %}

{% block sidebar %}
<script type="text/javascript">
  function showValue(value, name) {
    document.getElementById(name).innerHTML=value;
  }
</script>
<div class="row">
  <div class="large-6 columns">
     <div class="panel">
      <h2>Score: {{ results.score }}%</h2>
      <p>Calculates errors divided by number of your sentences ({{ sentencecount }} sentences). Maximum allowable errors for 100%:</p>
      <form action="index.php" method="post">
        {% for key,item in results.individual %}
          {{ key }}<br />
          <input type="range" name="{{ item.id }}" min="0" max="100" value="{{ item.goal }}"
          step="1" onchange="showValue(this.value, '{{ item.id }}')" />
          <span id="{{ item.id }}">{{ item.goal }}</span><br />
        {% endfor %}
        <input class="button" type="submit" name="customize" value="Customize" />
      </form>
    <p>
    Presets:
      <a class="tiny button" href="index.php?preset=humanities">Humanities</a>
      <a class="tiny button" href="index.php?preset=sciences">Sciences</a>
      <a class="tiny button" href="index.php?preset=internet">Web</a>
      <a class="tiny button" href="index.php?preset=default">Default</a></p>
  </div>
</div>




{% endblock %}
